@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState
@inject NavigationManager NavManager

<div style="padding:2.5rem 2.5rem 0 2.5rem;">
    <h1 class="rz-pb-4" style="color:var(--Wine-Red)">
        @cl["cities"]
    </h1>
    @foreach (var city in MapState.Map?.InitialVariables?.AllCities ?? [])
    {
        <div>
            <a onclick="@(() => NavManager.NavigateTo("/" + city ?? "", true))" style="cursor:pointer;">@cl["city_" + city]</a>
        </div>
    }
</div>