@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl
@inject NavigationManager NavManager

<div class="icon icon-home" title="@(cl["home"] + "...")" onclick="@(() => ShowHome())"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        MapState.OnChange += OnMyChangeHandler;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMyChangeHandler;
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private void ShowHome()
    {
        NavManager.NavigateTo("/", true);
    }
}