@using EhriMemoMap.Helpers;
@using System.Xml;
@using System.Xml.Linq;
@inject IStringLocalizer<CommonResources> cl

@if (WMSFeatureInfo.FeatureInfoType == WMSFeatureType.Body_zajmu || WMSFeatureInfo.FeatureInfoType == WMSFeatureType.Neprisupna_mista)
{
    <RadzenCard>
        <ul class="no-bullets">
            <li><b>@WMSFeatureInfo.Title</b></li>
            @if (WMSFeatureInfo.Address != "NULL")
            {
                <li>WMSFeatureInfo.Address</li>
            }
            <li>@WMSFeatureInfo.Description</li>
        </ul>
    </RadzenCard>
}
else if (WMSFeatureInfo.FeatureInfoType == WMSFeatureType.Obeti_holokaustu_z_Prahy)
{
    <RadzenColumn>
        <RadzenCard>
            <RadzenImage Path="http://collections.jewishmuseum.cz/media/jmpcollpublic/images/7/2/3/6/60478_ca_object_representations_media_723698_preview.jpg" />
            <p>@WMSFeatureInfo.NameAndBirthDate</p>
        </RadzenCard>
    </RadzenColumn>
}

@code {
    [Parameter]
    public WMSFeatureInfo WMSFeatureInfo { get; set; }
}
