@using EhriMemoMap.Helpers;
@inject IStringLocalizer<CommonResources> cl

<DialogButtons />
@if (Layer != null && !string.IsNullOrEmpty(Layer.Abstract))
{
    <div><h4>@Layer.Title</h4> @((MarkupString)Layer.Abstract.Linkify())</div>
}

@code {
    [Parameter]
    public LayerModel Layer { get; set; }
}
