@using EhriMemoMap.Data;
@using System.Xml;
@using System.Xml.Linq;
@inject IStringLocalizer<CommonResources> cl

<RadzenRow class="rz-mb-4">
    <RadzenCard Style="width:100%">

        <h3>@(CultureInfo.CurrentCulture.Name == "en-US" ? Place.LabelEn : Place.LabelCs)</h3>
        <h5>@(CultureInfo.CurrentCulture.Name == "en-US" ? Place.AddressEn : Place.AddressCs)</h5>
        <ul class="no-bullets">
            <li>@(CultureInfo.CurrentCulture.Name == "en-US" ? Place.DescriptionEn : Place.DescriptionCs)</li>
        </ul>

        <DocumentGallery Documents="Place.Documents" />

    </RadzenCard>
</RadzenRow>

@code {
    [Parameter]
    public PlaceMemorial Place { get; set; }
}
