@using System.Globalization;
@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl
@inject NavigationManager Navigation
@inject ILogger<LanguageButton> logger

@if (MobileVersion)
{
    <RadzenButton Size="ButtonSize.ExtraSmall" Variant="Variant.Flat" id="btn-language-topbar" Click="ChangeLanguage">
        <b>@otherLanguage</b>
    </RadzenButton>
}
else
{
    <div class="language-btn-wrapper" title="@(cl[otherLanguageTitle])" onclick="@(() => ChangeLanguage())">

        <svg width="39" height="41" viewBox="0 0 47 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="background" d="M0 3.99999C0 1.79086 1.79086 0 4 0H47.1795V48.7521H4C1.79086 48.7521 0 46.9613 0 44.7521V3.99999Z" fill="#771646" />
        </svg>

        <div class="language-text">
            <h3><b>@otherLanguage</b></h3>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool MobileVersion { get; set; } = false;

    string otherLanguage;
    string otherLanguageTitle;
    string currentUri;

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
        otherLanguage = Culture.ToString() == "cs-CZ" ? "EN" : "CS";
        otherLanguageTitle = Culture.ToString() == "cs-CZ" ? "english" : "czech";
    }

    async Task ChangeLanguage()
    {
        currentUri = "~/" + await JS.InvokeAsync<string>("mapAPI.getWindowLocationSearch");
        Culture = Culture.ToString() == "cs-CZ" ? new CultureInfo("en-US") : new CultureInfo("cs-CZ");
    }

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JS;
                js.InvokeVoid("mapAPI.setBlazorCulture", value.Name);
                Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
            }
        }
    }
}