@* @inject MapService MapService
@inject MapLogicService MapLogic

@inject IStringLocalizer<CommonResources> cl

@if (MapService.MapType == MapTypeEnum.StoryMapWhole || MapService.MapType == MapTypeEnum.StoryMapOneStop)
{
    <div style="@style">
        <div style="display:flex;gap:5px">
             <RadzenButton Size="ButtonSize.Small" Click="CloseNarrativeMap" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Flat">
                @cl["back"]
            </RadzenButton>
             @if (MapService.MapType == MapTypeEnum.StoryMapOneStop)
            {
                <RadzenButton Size="ButtonSize.Small" Click="(() => MapLogic.ShowNarrativeMapPlaces())" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Flat">
                    @cl["backToStoryMapWhole"]
                </RadzenButton>
            }

        </div>
    </div>
}


@code {
    private string style = "";

    protected override void OnInitialized()
    {
        MapService.OnChange += OnMyChangeHandler;
        style = GetStyle();
    }

    public void Dispose()
    {
        MapService.OnChange -= OnMyChangeHandler;
    }

    public async Task CloseNarrativeMap()
    {
        await MapService.SetMapType(MapTypeEnum.Normal);
        await MapService.SetDialog(DialogTypeEnum.None);
        MapService.NotifyStateChanged();
    }

    public string GetStyle()
    {
        if (MapService.IsMobileView)
            return $"position:absolute;top:54px;left:10px;z-index:1002;";
        return $"position:absolute;top:20px;left:20px;z-index:1002";
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            style = GetStyle();
            StateHasChanged();
        });
    }


} *@