@inherits LayoutComponentBase

@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState

<PageTitle>MemoMap @cl["city_" + MapState?.Map?.InitialVariables?.City ?? ""]</PageTitle>

<div class="page">
    <main>
        @Body
    </main>
</div>

<RadzenDialog />
@code {

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }
}