@inherits LayoutComponentBase

@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState

<PageTitle>MemoMap @cityName</PageTitle>

<div class="page">
    <main>
        @Body
    </main>
</div>

<RadzenDialog />
@code {

    private string? cityName;

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
        cityName = !string.IsNullOrEmpty(MapState?.Map?.InitialVariables?.City) ? cl["city_" + MapState?.Map?.InitialVariables?.City] : "";

    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }
}