@inherits LayoutComponentBase

@inject IStringLocalizer<CommonResources> cl
@inject MapService MapService

<PageTitle>MemoMap @cityName</PageTitle>

<div class="page">
    <main>
        @Body
    </main>
</div>

<RadzenDialog />
@code {

    private string? cityName;

    protected override void OnInitialized()
    {
        MapService.OnChange += StateHasChanged;
        cityName = !string.IsNullOrEmpty(MapService?.Map?.InitialVariables?.City) ? cl["city_" + MapService?.Map?.InitialVariables?.City] : "";

    }

    public void Dispose()
    {
        MapService.OnChange -= StateHasChanged;
    }
}