@page "/"
@using Newtonsoft.Json.Linq;
@using System.Xml;
@using System.Xml.Linq;

@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject IStringLocalizer<CommonResources> cl
@inject MapState MapState
@inject IHttpContextAccessor httpContextAccesor

<div title="@cl["mapTitle"]" @onclick="ShowPlaceInfo" id="map" style="cursor:default"></div>
<Search />
<Timeline />
<Layers />
<Help />
<Language />
<Home />
<Zoom />

@code {
    protected override void OnInitialized()
    {
        DialogService.OnSideClose += RemoveObjects;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            if (!MapState.MapStateWasInit)
            {
                string layers = await JS.InvokeAsync<string>("mapAPI.getUrlParam", "layers");
                string collectionName = await JS.InvokeAsync<string>("mapAPI.getUrlParam", "collection");
                MapState.Init(layers, collectionName);
            }
            var mapInfo = MapState.GetAllMapsInfoForLeaflet();
            await JS.InvokeVoidAsync("mapAPI.initMap", MapState.GetAllMapsInfoForLeaflet());
            MapState.IsMobileBrowser = await JS.InvokeAsync<bool>("mapAPI.isMobileBrowser");
        }
    }

    public void RemoveObjects(dynamic obj)
    {
        if (!MapState.IsMobileBrowser)
            JS.InvokeVoidAsync("mapAPI.removeObjects");
    }

    protected async Task ShowPlaceInfo(MouseEventArgs e)
    {
        if ((await JS.InvokeAsync<int>("mapAPI.getIsDragging")) > 0)
            return;

        try
        {
            string bbox = await JS.InvokeAsync<string>("mapAPI.convertMousePositionToBBoxParameter");
            // tuhle blbost tu dělám proto, že QGIS server neumí vracet anglické popisky v json, ale jenom v xml...
            string urlJson = MapState.GetFeaturesInfoUrl("application/json") + bbox;
            string urlXML = MapState.GetFeaturesInfoUrl("text/xml") + bbox;
            string responseJson = await clientFactory.CreateClient().GetStringAsync(urlJson + bbox);
            string responseXML = await clientFactory.CreateClient().GetStringAsync(urlXML + bbox);

            await JS.InvokeVoidAsync("mapAPI.addObjectsFromJsonString", responseJson);

            var wmsResponse = new WMSResponse(responseXML);

            if (!wmsResponse.Layers.Any(a => a.Features != null && a.Features.Count > 0))
            {
                DialogService.CloseSide();
                await JS.InvokeVoidAsync("mapAPI.removeObjects");
                return;
            }

            await DialogService.OpenSideAsync<PlaceInformation>(null, new Dictionary<string, object> { { "WMSResponse", wmsResponse } }, MapState.GetDialogOptions());
        }
        catch
        {

        }
    }
}