@inherits LayoutComponentBase

@inject IStringLocalizer<CommonResources> cl

<PageTitle>MemoMap @cl["prague"]</PageTitle>

<div class="page">
    <main>
        @Body
    </main>
</div>

<RadzenDialog />