@inject MapStateService MapState

@if (!string.IsNullOrEmpty(style) && MapState.Map?.InitialVariables != null)
{
    <div id="controlButtonsWrapper" style="@style">
        @if (MapState.IsMobileView == false)
        {
            <RadzenRow Gap="0" RowGap="5px" JustifyContent="justifyContent" AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    @if (MapState?.Map?.InitialVariables?.AllCities != null && MapState.Map.InitialVariables.AllCities.Count() > 0)
                    {
                        <AllCitiesButton />
                    }
                    else
                    {
                        <HomeButton />
                    }
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <SearchButton Disabled="MapState.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <LayersButton Disabled="MapState.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
                @if (MapState?.Map?.InitialVariables?.StoryMaps ?? false)
                {
                    <RadzenColumn Size="12">
                        <StoryMapButton />
                    </RadzenColumn>
                }
                <RadzenColumn Size="12">
                    <HelpButton />
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <LanguageButton />
                </RadzenColumn>
            </RadzenRow>

        }
        else
        {
            <RadzenRow Gap="0" JustifyContent="justifyContent" AlignItems="AlignItems.Center">
                <RadzenColumn Size="size">
                    <SearchButton MobileVersion="true" Border="true" Disabled="MapState.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
                @if (ShowTimelineButton())
                {
                    <RadzenColumn Size="size">
                        <TimelineButton MobileVersion="true" Border="true" />
                    </RadzenColumn>
                }
                @if (ShowStoryMapButton())
                {
                    <RadzenColumn Size="size">
                        <StoryMapButton MobileVersion="true" Border="true" />
                    </RadzenColumn>
                }
                <RadzenColumn Size="size">
                    <LayersButton MobileVersion="true" Disabled="MapState.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
            </RadzenRow>

        }
    </div>

}

@code {
    public string style;
    public string gap;
    public int? size;
    public JustifyContent justifyContent;

    protected override void OnInitialized()
    {
        MapState.OnChange += OnMyChangeHandler;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        style = GetStyle();
        size = GetSize();
        if (!firstRender)
        {
            justifyContent = MapState.IsMobileView ? JustifyContent.Center : JustifyContent.End;
        }
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMyChangeHandler;
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            style = GetStyle();
            size = GetSize();
            StateHasChanged();
        });
    }

    public bool ShowStoryMapButton()
    {
        return MapState?.Map?.InitialVariables?.StoryMaps ?? false;
    }

    public bool ShowTimelineButton()
    {
        return MapState.GetTimeline() != null && MapState.MapType == MapTypeEnum.Normal;
    }

    public int GetSize()
    {
        var numberOfColumns = 2;

        if (ShowStoryMapButton())
            numberOfColumns++;

        if (ShowTimelineButton())
            numberOfColumns++;

        return 12 / numberOfColumns;
    }

    public string GetStyle()
    {
        if (MapState.IsMobileView)
            if (!MapState.IsDialogFullScreen)
                return $"position:absolute;{(MapState.DialogType != DialogTypeEnum.None && MapState.DialogType != DialogTypeEnum.Help ? $"bottom:{MapState.HeightOfDialog}%" : "bottom:0px")};z-index:10005;background-color:var(--Grey);width:100%;";
            else
                return $"display:none;";// position:absolute;{(MapState.DialogType != DialogTypeEnum.None && MapState.DialogType != DialogTypeEnum.Help ? $"bottom:{MapState.WindowHeight - 88}px" : "bottom:0px")};z-index:10005;background-color:var(--Grey);width:100%;";

        return $"position:absolute;top:30px;right:{(MapState.DialogType == DialogTypeEnum.None ? "0px" : MapState.WidthOfDialogPercent)};z-index:1005;width:47px";
    }

}
