@inject MapService MapService

@if (MapService.MapState == MapStateEnum.Rendered && !string.IsNullOrEmpty(style) && MapService.Map?.InitialVariables != null)
{
    <div id="controlButtonsWrapper" style="@style">
        @if (MapService.IsMobileView == false)
        {
            <RadzenRow Gap="0" RowGap="5px" JustifyContent="justifyContent" AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <HomeButton />
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <SearchButton Disabled="MapService.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <LayersButton Disabled="MapService.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
                @if (MapService?.Map?.InitialVariables?.StoryMaps ?? false)
                {
                    <RadzenColumn Size="12">
                        <StoryMapButton />
                    </RadzenColumn>
                }
                <RadzenColumn Size="12">
                    <HelpButton />
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <JoinButton />
                </RadzenColumn>
                <RadzenColumn Size="12">
                    <LanguageButton />
                </RadzenColumn>
            </RadzenRow>

        }
        else
        {
            <RadzenRow Gap="0" JustifyContent="justifyContent" AlignItems="AlignItems.Center">
                <RadzenColumn Size="size">
                    <SearchButton MobileVersion="true" Border="true" Disabled="MapService.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
                @if (ShowTimelineButton())
                {
                    <RadzenColumn Size="size">
                        <TimelineButton MobileVersion="true" Border="true" />
                    </RadzenColumn>
                }
                @if (ShowStoryMapButton())
                {
                    <RadzenColumn Size="size">
                        <StoryMapButton MobileVersion="true" Border="true" />
                    </RadzenColumn>
                }
                <RadzenColumn Size="size">
                    <LayersButton MobileVersion="true" Disabled="MapService.MapType != MapTypeEnum.Normal" />
                </RadzenColumn>
            </RadzenRow>

        }
    </div>

}

@code {
    public string style;
    public string gap;
    public int? size;
    public JustifyContent justifyContent;

    protected override void OnInitialized()
    {
        MapService.OnChange += OnMyChangeHandler;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        style = GetStyle();
        size = GetSize();
        if (!firstRender)
        {
            justifyContent = MapService.IsMobileView ? JustifyContent.Center : JustifyContent.End;
        }
    }

    public void Dispose()
    {
        MapService.OnChange -= OnMyChangeHandler;
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            style = GetStyle();
            size = GetSize();
            StateHasChanged();
        });
    }

    public bool ShowStoryMapButton()
    {
        return MapService?.Map?.InitialVariables?.StoryMaps ?? false;
    }

    public bool ShowTimelineButton()
    {
        return MapService.GetTimeline() != null && MapService.MapType == MapTypeEnum.Normal;
    }

    public int GetSize()
    {
        var numberOfColumns = 2;

        if (ShowStoryMapButton())
            numberOfColumns++;

        if (ShowTimelineButton())
            numberOfColumns++;

        return 12 / numberOfColumns;
    }

    public string GetStyle()
    {
        if (MapService.IsMobileView)
            if (!MapService.IsDialogFullScreen)
                return $"position:absolute;{(MapService.DialogType != DialogTypeEnum.None && MapService.DialogType != DialogTypeEnum.Help ? $"bottom:{MapService.HeightOfDialog}%" : "bottom:0px")};z-index:10005;background-color:var(--Grey);width:100%;";
            else
                return $"display:none;";// position:absolute;{(MapService.DialogType != DialogTypeEnum.None && MapService.DialogType != DialogTypeEnum.Help ? $"bottom:{MapService.WindowHeight - 88}px" : "bottom:0px")};z-index:10005;background-color:var(--Grey);width:100%;";

        return $"position:absolute;top:30px;right:{(MapService.DialogType == DialogTypeEnum.None ? "0px" : MapService.WidthOfDialogPercent)};z-index:1005;width:47px";
    }

}
