@inject NavigationManager NavManager
@inject MapService MapService

@if (MapService.IsMobileView == true)
{
    <div style="background-color:var(--Wine-Red);color:var(--Beige);position:absolute;top:0px;left:0px;width:100%;z-index:1001;">
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Style="padding:10px">
            <RadzenColumn Size="6">
                <h2 style="cursor:pointer" onclick="@(() => ShowHome())">MemoMap</h2>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                    <JoinButton MobileVersion="true" />
                    <HelpButton MobileVersion="true" />
                    <LanguageButton MobileVersion="true" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </div>
}

@code {

    private async Task ShowHome()
    {
        await MapService.SetDialog(DialogTypeEnum.None);
        NavManager.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        MapService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapService.OnChange -= StateHasChanged;
    }
}