@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapLogicService MapLogic
@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl
@inject IJSRuntime JS
@inject TooltipService tooltipService

<DialogButtons />

<div class="rz-p-6" style="height:400px">
    <h1 class="rz-pb-4">@cl["timeline"]</h1>
    <CardTimeline Timeline="timeline" Width="500" MobileVersion="true" />
</div>

@code {

    List<TimelinePointModel>? timeline;

    protected override async Task OnInitializedAsync()
    {
        timeline = MapState.GetTimeline();
        MapState.OnChange += OnMyChangeHandler;
        StateHasChanged();
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMyChangeHandler;
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            timeline = MapState.GetTimeline();
            StateHasChanged();
        });
    }
}