@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState

<RadzenColumn Size="MapState.IsMobileView ? 6 : 4">
    <a href="@(CultureInfo.CurrentCulture.ToString() == "cs-CZ" ? Victim.DetailsCs : Victim.DetailsEn)" target="_blank" style="text-decoration:none;color:black">
        <RadzenCard class="victim-card">
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Gap="5px">
                <RadzenImage class="victim-photo" Path="@(!string.IsNullOrEmpty(Victim.Photo) && Victim.Photo != "NULL" && Victim.Photo != "null" ? Victim.Photo : "images/face.jpg")" />
                <div class="victim-label"><small>@((MarkupString)Victim.GetLabelForPicture())</small></div>
            </RadzenStack>
        </RadzenCard>
    </a>
</RadzenColumn>

@code {
    [Parameter]
    public PragueVictimsTimeline Victim { get; set; }

}
