@inject IStringLocalizer<CommonResources> cl

<DialogButtons />
@if (Layer != null && !string.IsNullOrEmpty(Layer.Name))
{
    <div><h4>@cl["layer_" + Layer.Name + "_title"]</h4> @((MarkupString)cl["layer_" + Layer.Name + "_abstract"].ToString().Linkify())</div>
}

@code {
    [Parameter]
    public LayerModel Layer { get; set; }
}
