@inject MapStateService MapState

@if (MapState.IsMobileView == false && MapState.MapType == MapTypeEnum.Normal)
{
    <div class="timeline-wrapper">
        <Timeline Width="550" MobileVersion="false" />
    </div>
}

@code {

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }

}
