@inject MapService MapService

@if (MapService.IsMobileView == false && MapService.MapType == MapTypeEnum.Normal)
{
    <div class="timeline-wrapper">
        <Timeline Width="550" MobileVersion="false" />
    </div>
}

@code {

    protected override void OnInitialized()
    {
        MapService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapService.OnChange -= StateHasChanged;
    }

}
